@font-face {
  font-family: 'Cooper Light';
  font-weight: 300;
  font-style: normal;
  src: url(/assets/fonts/39E198_0_0.woff2?#iefix) format("woff2"), url(/assets/fonts/39E198_0_0.woff) format("woff"), url(/assets/fonts/39E198_0_0.ttf) format("truetype"); }
@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 100;
  font-style: normal;
  src: url(/assets/fonts/FoundersGroteskWeb-Light.woff2?#iefix) format("woff2"), url(/assets/fonts/FoundersGroteskWeb-Light.woff) format("woff"), url(/assets/fonts/FoundersGroteskWeb-Light.ttf) format("truetype"); }
@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 300;
  font-style: normal;
  src: url(/assets/fonts/FoundersGroteskWeb-Regular.woff2?#iefix) format("woff2"), url(/assets/fonts/FoundersGroteskWeb-Regular.woff) format("woff"), url(/assets/fonts/FoundersGroteskWeb-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 500;
  font-style: normal;
  src: url(/assets/fonts/FoundersGroteskWeb-Medium.woff2?#iefix) format("woff2"), url(/assets/fonts/FoundersGroteskWeb-Medium.woff) format("woff"), url(/assets/fonts/FoundersGroteskWeb-Medium.ttf) format("truetype"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 16px; }

body {
  font-family: 'Founders Grotesk', sans-serif;
  font-size: 20px;
  font-weight: 100;
  background: #F5F5F3;
  color: #1A1108; }

a {
  color: #1A1108;
  text-decoration: none; }

img {
  width: 100%; }

header {
  margin-bottom: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #F5F5F3; }
  header .logo {
    padding: 1rem;
    display: inline-block; }
    header .logo svg a {
      fill: #1A1108; }

.logo svg {
  width: 130px; }

nav {
  background: #F5F5F3;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: right;
  padding-top: 3px; }
  nav ul.menu {
    padding: 1rem;
    display: flex;
    list-style-type: none; }
  nav li {
    padding-left: 1rem; }

.flex {
  display: flex; }
  .flex .flex-item {
    flex: 1;
    margin-right: 1rem; }
  .flex .flex-item:last-child {
    margin-right: 0; }

section {
  width: 100%;
  position: relative;
  min-height: 100vh;
  z-index: 10; }

section.product {
  min-height: 0; }

.content {
  max-width: 900px;
  margin: auto;
  position: relative;
  z-index: 10; }

h1, h2 {
  font-family: 'Cooper Light', serif; }

nav, h4 {
  font-family: 'Founders Grotesk', sans-serif; }

.sans {
  font-family: "Founders Grotesk"; }

h1, h2 {
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase; }
  h1 .sans, h2 .sans {
    font-weight: 100;
    line-height: .9; }

h1 {
  font-size: 7rem; }

h2 {
  font-size: 4rem;
  margin-bottom: 1rem; }
  h2 .sans {
    font-size: 1.18em; }

h3 {
  font-family: 'Cooper Light';
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: .9rem; }

h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 1rem; }

.centered {
  text-align: center;
  margin: 1rem auto; }

.summary {
  letter-spacing: 0;
  font-size: 1.8rem;
  line-height: 1.2; }

p {
  margin-bottom: 1em;
  letter-spacing: .5px; }

.button {
  background: #0E3220;
  color: rgba(245, 245, 243, 0.8);
  padding: .8rem 1rem 1rem;
  border-radius: 5px;
  width: 150px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.8rem;
  line-height: 1;
  margin: .8rem 0;
  transition: box-shadow 200ms ease-in-out; }
  .button:hover {
    -webkit-box-shadow: inset 5px 5px 8px var(--box-shadow-color);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: inset 5px 5px 8px var(--box-shadow-color);
    /* Firefox 3.5 - 3.6 */
    box-shadow: inset 5px 5px 8px var(--box-shadow-color);
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

#intro {
  background-color: #fcd8be;
  padding-top: 60vh; }
  #intro .intro-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("/assets/images/backgrounds/candid_all_2.jpg"); }
  #intro h2 {
    text-align: left;
    font-size: 5vw; }
  #intro p {
    margin-bottom: 0; }
  #intro .content {
    color: #1A1108;
    max-width: none;
    padding-left: 4rem; }
  #intro .intro-text {
    line-height: 1;
    font-size: 40px;
    text-indent: 6px;
    letter-spacing: 0; }

.product:nth-child(2n) .flex .content-image {
  order: 1; }
.product:nth-child(2n) .flex .content-text {
  order: 0; }

.content-text {
  width: 50vw;
  padding: 6rem; }
  .content-text p {
    max-width: 22em; }

.send {
  display: inline-block; }

.seal {
  width: 100px;
  margin-top: 3rem; }
  .seal .whole-plant {
    width: 100%; }

.content-image {
  width: 50vw;
  background-attachment: fixed;
  background-origin: content-box;
  background-size: auto 100%;
  background-position: -15vw center;
  background-repeat: no-repeat; }

.rightalign .content-image {
  background-position: 35vw center; }

#pineapple {
  background: #C7BBEB;
  --box-shadow-color: #634b83; }
  #pineapple .a {
    fill: #8061A9; }
  #pineapple .content-image, #pineapple .button {
    background-color: #8061A9; }
  #pineapple .content-image {
    background-image: url("/assets/images/products/prod-pine-2.jpg"); }
  #pineapple .nutrition {
    color: #8061A9; }

#mango {
  background-color: #FBBA91;
  --box-shadow-color: #743f1b; }
  #mango .a {
    fill: #945023; }
  #mango .content-image, #mango .button {
    background-color: #945023; }
  #mango .content-image {
    background-image: url("/assets/images/products/prod-mango-2.jpg"); }
  #mango .nutrition {
    color: #945023; }

#banana {
  background-color: #FFE480;
  --box-shadow-color: #8b5820; }
  #banana .a {
    fill: #B5722A; }
  #banana .content-image, #banana .button {
    background-color: #B5722A; }
  #banana .content-image {
    background-image: url("/assets/images/products/prod-banana-2.jpg"); }
  #banana .nutrition {
    color: #B5722A; }

#goldenberry {
  background-color: #EBCECD;
  --box-shadow-color: #664c39; }
  #goldenberry .a {
    fill: #806147; }
  #goldenberry .content-image, #goldenberry .button {
    background-color: #806147; }
  #goldenberry .content-image {
    background-image: url("/assets/images/products/prod-gb-2.jpg"); }
  #goldenberry .nutrition {
    color: #806147; }

.scene {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; }
  .scene img {
    position: absolute; }

.multiply {
  mix-blend-mode: multiply; }

#nibs {
  width: 250px;
  bottom: 100px;
  right: 100px; }

#turmeric {
  width: 380px;
  bottom: 0px;
  left: -50px; }

.scene.fixed {
  position: absolute; }

#berries {
  width: 280px;
  top: -50px;
  right: -50px; }

.crop {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px; }

.slide {
  border-radius: 10px;
  overflow: hidden;
  max-width: 500px;
  margin: auto; }

#about {
  background: #F5F5F3;
  padding: 6rem;
  color: #0E3220; }
  #about .content {
    max-width: 1200px;
    margin: auto; }
  #about p {
    max-width: 36rem;
    font-family: 'Cooper Light';
    font-size: 1.5rem;
    line-height: 1.4;
    margin: auto; }
  #about .seal {
    width: 160px;
    margin: 0 auto 2rem; }
    #about .seal .a {
      fill: #A0724D; }
  #about .process {
    margin: 3rem auto 1rem auto; }
    #about .process p {
      font-family: 'Founders Grotesk';
      font-weight: 300;
      font-size: 18px;
      line-height: 1.2; }
    #about .process .illo {
      height: 130px; }
    #about .process img {
      width: 110px; }
    #about .process #pine-illo {
      position: relative;
      top: -10px;
      width: 130px; }
  #about .caption {
    color: #A0724D;
    max-width: 16em;
    font-weight: 400;
    font-size: 15px; }

.next {
  align-items: center;
  display: flex;
  justify-content: center;
  animation: blink 1s ease-in-out alternate infinite; }

.svg-arrow {
  width: 70px; }

.arrow {
  fill: none;
  stroke: #A0724D;
  stroke-miterlimit: 8;
  stroke-width: 11px; }

#sustainability {
  padding: 6rem;
  background: #F5F5F3;
  color: #0E3220; }
  #sustainability .content {
    max-width: none; }
  #sustainability .photo {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden; }
    #sustainability .photo img {
      width: 100%;
      height: auto;
      vertical-align: middle; }
  #sustainability .text {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 4rem; }
    #sustainability .text p {
      line-height: 1.3; }
  #sustainability .flex {
    align-items: center; }
  #sustainability .flex:nth-child(2) .text {
    order: 1;
    padding-left: 0; }
  #sustainability .flex:nth-child(2) .photo {
    order: 2; }
  #sustainability h2 {
    color: #0E3220;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    max-width: 19em; }
  #sustainability h3 {
    font-family: 'Founders Grotesk';
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px; }

.nutrition h4 {
  font-size: 1em;
  font-weight: 500; }
  .nutrition h4:hover {
    cursor: pointer;
    text-decoration: underline; }

.nutrition-table {
  display: none;
  font-size: 15px;
  margin-bottom: 1rem; }
  .nutrition-table .row {
    display: flex;
    border-bottom: 1px solid;
    padding: 3px 0; }
  .nutrition-table .label {
    width: 65%;
    font-weight: 500; }
  .nutrition-table .sub .label {
    padding-left: 1rem;
    font-weight: 100; }
  .nutrition-table .quant {
    width: 20%;
    text-align: right; }
  .nutrition-table .percent {
    text-align: right;
    width: 15%; }
    .nutrition-table .percent:after {
      content: "%"; }

#afternoon .afternoon-bg {
  background-image: url("/assets/images/backgrounds/ClockGif_WebCrop.gif");
  position: static;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat; }
#afternoon .content {
  width: 100%;
  margin: 0;
  max-width: 0;
  padding: 2rem;
  background: #1A1108; }
#afternoon h2 {
  font-size: 3rem;
  margin: auto;
  text-align: center;
  color: #A0724D; }

#privacy {
  margin: 5rem 0 3rem; }
  #privacy h1 {
    font-size: 2em; }
  #privacy h2 {
    margin-top: 2em;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Founders Grotesk'; }
  #privacy p {
    max-width: 30em; }

footer {
  position: relative;
  background: #1A1108;
  color: #A0724D;
  padding: 2rem 1rem;
  overflow: auto;
  text-align: center; }
  footer p {
    margin: .5rem 0; }
  footer a {
    color: #A0724D; }
    footer a:hover {
      color: #A0724D; }
  footer svg .a {
    fill: #A0724D; }
  footer h2 {
    color: #A0724D;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem; }
  footer .flex {
    padding-top: 1rem;
    align-item: center; }
  footer .social {
    margin-top: 1rem; }
    footer .social a {
      display: inline-block; }
  footer #insta-icon {
    width: 20px;
    margin-right: 15px; }
  footer #facebook {
    width: 20px; }
  footer .ig-fill {
    fill: #A0724D; }
  footer .no-fill {
    fill: none; }

.links {
  font-size: 16px; }
  .links a:hover {
    text-decoration: underline; }

.mobile-menu {
  position: absolute;
  right: 15px;
  top: 15px;
  display: none; }

.bar {
  width: 25px;
  height: 3px;
  margin-bottom: 3px;
  background: #1A1108; }

@media (max-width: 1200px) {
  h2 {
    font-size: 3.5rem; }

  .content-text {
    padding: 4rem; }

  .next, .break {
    display: none; }

  #about {
    padding: 2rem; }

  #sustainability .text {
    padding: 2rem; }

  .content-image {
    background-position: -19vw center; }

  .rightalign .content-image {
    background-position: 30vw center; } }
@media (max-width: 1000px) {
  .content-image {
    background-position: -36vw center; }

  .rightalign .content-image {
    background-position: 16vw center; } }
@media (max-width: 800px) {
  .logo svg {
    width: 90px; }

  header {
    height: 45px;
    padding-top: .75rem; }
    header .logo {
      padding: 0;
      padding-left: 15px; }

  header.open {
    height: auto; }

  nav {
    float: none;
    display: block; }

  nav ul.menu {
    display: none; }

  .mobile-menu {
    display: block; }

  ul.menu {
    display: none;
    width: 100%;
    right: 0;
    padding: 20px 0; }
    ul.menu li {
      font-size: 26px;
      margin-bottom: 1rem;
      padding-left: 0; }

  h2 {
    font-size: 2.8rem; }

  #intro {
    padding-top: 100vh; }
    #intro .intro-bg {
      background-size: auto 100%;
      background-position: 70% center;
      background-attachment: scroll; }
    #intro .intro-text {
      font-size: 30px;
      text-indent: 0; }
    #intro .content {
      display: flex;
      align-items: center;
      padding: 0;
      height: 100vh;
      width: 100%;
      bottom: 0;
      background: #1A1108;
      color: #A0724D; }
      #intro .content .tagline {
        width: 100%; }
      #intro .content h2 {
        font-size: 12vw; }
      #intro .content p, #intro .content h2 {
        text-align: center; }

  #about {
    padding: 3rem 1rem;
    padding-bottom: 3rem; }
    #about .seal {
      width: 120px; }
    #about .process {
      display: block; }
      #about .process .flex-item {
        margin-right: 0;
        margin-bottom: 2rem; }

  .product .flex {
    display: block; }

  .content-text {
    width: 100%;
    padding: 4rem 2rem; }

  .content-image {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 50%; }

  .content-text {
    padding: 4rem 2rem; }

  .rightalign .content-image {
    background-position: 50% 50%; }

  #sustainability {
    padding: 4rem 2rem; }
    #sustainability .photo {
      height: 300px; }
    #sustainability .text {
      padding-left: 0; }
    #sustainability .flex {
      display: block; }
      #sustainability .flex .flex-item {
        margin: 1rem 0 4rem; }
      #sustainability .flex .photo {
        width: 100%;
        height: auto; }
      #sustainability .flex:nth-child(2) .photo {
        order: 1; }
      #sustainability .flex:nth-child(2) .text {
        order: 2; }
    #sustainability p {
      max-width: 25em; }

  #afternoon {
    min-height: 0; }
    #afternoon .afternoon-bg {
      background-size: cover;
      background-attachment: scroll;
      background-repeat: no-repeat;
      height: 50vh; }
    #afternoon .content {
      position: static; }
      #afternoon .content h2 {
        font-size: 2rem; }

  #privacy {
    padding: 1rem; } }
@media (max-width: 500px) {
  h2 {
    font-size: 10vw; } }
@media (min-width: 801px) {
  ul.menu {
    display: flex !important; } }
@keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 2; } }

/*# sourceMappingURL=style.css.map */
