@font-face {
  font-family: 'Cooper Light';
  font-weight: 300;
  font-style: normal;
  src: url(/assets/fonts/39E198_0_0.woff2?#iefix) format("woff2"), url(/assets/fonts/39E198_0_0.woff) format("woff"), url(/assets/fonts/39E198_0_0.ttf) format("truetype"); }
@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 100;
  font-style: normal;
  src: url(/assets/fonts/FoundersGroteskWeb-Light.woff2?#iefix) format("woff2"), url(/assets/fonts/FoundersGroteskWeb-Light.woff) format("woff"), url(/assets/fonts/FoundersGroteskWeb-Light.ttf) format("truetype"); }
@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 300;
  font-style: normal;
  src: url(/assets/fonts/FoundersGroteskWeb-Regular.woff2?#iefix) format("woff2"), url(/assets/fonts/FoundersGroteskWeb-Regular.woff) format("woff"), url(/assets/fonts/FoundersGroteskWeb-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 500;
  font-style: normal;
  src: url(/assets/fonts/FoundersGroteskWeb-Medium.woff2?#iefix) format("woff2"), url(/assets/fonts/FoundersGroteskWeb-Medium.woff) format("woff"), url(/assets/fonts/FoundersGroteskWeb-Medium.ttf) format("truetype"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Founders Grotesk', sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: .5px;
  background: #F5F5F3;
  color: #1A1108; }

a {
  color: #1A1108;
  text-decoration: none; }

img {
  width: 100%; }

header {
  margin: 1rem;
  margin-bottom: 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid #1A1108; }
  header .logo {
    display: inline-block; }
    header .logo svg a {
      fill: #1A1108; }

.logo svg {
  width: 100px; }

nav {
  display: inline-block;
  float: right; }
  nav ul.menu {
    display: flex;
    list-style-type: none; }
  nav li {
    padding-left: 1rem; }

.flex {
  display: flex; }
  .flex .flex-item {
    flex: 1;
    margin-right: 6rem; }
  .flex .flex-item:last-child {
    margin-right: 0; }

section {
  min-height: 110vh;
  width: 100vw;
  padding: 6rem 0;
  position: relative; }

.content {
  max-width: 900px;
  margin: auto;
  position: relative;
  z-index: 10; }

h1, h2 {
  font-family: 'Cooper Light', serif; }

nav, h3 {
  font-family: 'Founders Grotesk', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px; }

h1, h2 {
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase; }
  h1 .sans, h2 .sans {
    font-family: "Founders Grotesk";
    font-weight: 100;
    display: block;
    font-size: 8rem;
    line-height: .9; }

h1 {
  font-size: 7rem; }

h2 {
  font-size: 4rem; }
  h2 .sans {
    font-size: 4.6rem; }

h3 {
  margin-bottom: 1rem; }

.centered {
  text-align: center;
  margin: 1rem auto; }

.summary {
  letter-spacing: 0px;
  font-size: 1.8rem;
  max-width: 25em;
  margin-bottom: 6rem; }

p {
  margin-bottom: 1rem; }

.button {
  background: #0E3220;
  color: #F5F5F3;
  padding: 0.5rem;
  border-radius: 5px;
  width: 150px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.8rem;
  margin-top: 3rem; }

.button:hover {
  cursor: pointer;
  box-shadow: 10px 10px 0px 0px rgba(14, 50, 32, 0.5); }

.image-placeholder {
  width: 100%;
  height: 300px;
  background: #A0724D;
  margin-bottom: 1rem;
  border-radius: 5px; }

#intro {
  padding-top: 200px;
  min-height: 100vh; }
  #intro h2, #intro p {
    text-align: left; }
  #intro .button {
    margin-left: 0; }
  #intro .noon-img {
    top: 30%; }

.product {
  position: relative; }
  .product .content h2, .product .content p {
    width: 50%; }

.product-img {
  position: absolute;
  left: 50px;
  top: 50%;
  width: 300px;
  transform: rotate(-20deg); }

.rightalign .content {
  padding-left: 40%; }
  .rightalign .content h2, .rightalign .content p {
    width: 100%; }

.scene {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }
  .scene .left, .scene .right {
    height: 160vh;
    width: auto; }
  .scene .left {
    float: left; }
  .scene .right {
    float: right; }

.scene.fixed {
  position: fixed; }

.noon-img {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 300px; }

#goldenberry {
  z-index: 0;
  background-color: #EBCECD; }
  #goldenberry .noon-img {
    left: 10%; }
  #goldenberry .product-img {
    right: 50px;
    left: auto;
    transform: rotate(20deg); }
  #goldenberry .button:hover {
    box-shadow: 10px 10px 0px 0px #946f54; }
  #goldenberry h2:hover {
    cursor: pointer;
    text-shadow: 5px 5px 0px #946f54; }

#banana {
  background: #FFE480; }
  #banana .button:hover {
    box-shadow: 10px 10px 0px 0px #be7900; }
  #banana h2:hover {
    cursor: pointer;
    text-shadow: 5px 5px 0px #be7900; }

#mango {
  background: #FBBA91; }
  #mango .noon-img {
    left: 10%; }
  #mango .product-img {
    right: 50px;
    left: auto;
    transform: rotate(50deg); }
  #mango .button:hover {
    box-shadow: 10px 10px 0px 0px #9b5217; }
  #mango h2:hover {
    cursor: pointer;
    text-shadow: 5px 5px 0px #9b5217; }

#pineapple {
  background: #C7BBEB; }
  #pineapple .button:hover {
    box-shadow: 10px 10px 0px 0px #8973b2; }
  #pineapple h2:hover {
    cursor: pointer;
    text-shadow: 5px 5px 0px #8973b2; }

#about h2 {
  text-align: center; }

footer {
  margin-top: 6rem;
  background: #1A1108;
  color: #F5F5F3;
  padding: 1rem;
  overflow: auto; }
  footer a {
    color: #F5F5F3; }
    footer a:hover {
      color: #A0724D; }
  footer svg .a {
    fill: #F5F5F3; }
  footer h2 {
    margin-top: 1rem;
    color: #A0724D;
    font-size: 2rem;
    text-align: center; }
    footer h2 .sans {
      font-size: 2.2rem; }
  footer .flex {
    padding-top: 1rem;
    align-item: center; }

.seal {
  width: 160px;
  margin: auto;
  display: block;
  padding-bottom: 1rem; }

/*# sourceMappingURL=style.css.map */
