//FONTS
@font-face {
	font-family: 'Cooper Light';
	font-weight: 300;
	font-style: normal;
	src: url(/assets/fonts/39E198_0_0.woff2?#iefix) format("woff2"),url(/assets/fonts/39E198_0_0.woff) format("woff"),url(/assets/fonts/39E198_0_0.ttf) format("truetype");
}
@font-face {
	font-family: 'Founders Grotesk';
	font-weight: 100;
	font-style: normal;
	src: url(/assets/fonts/FoundersGroteskWeb-Light.woff2?#iefix) format("woff2"),url(/assets/fonts/FoundersGroteskWeb-Light.woff) format("woff"),url(/assets/fonts/FoundersGroteskWeb-Light.ttf) format("truetype");
}

@font-face {
	font-family: 'Founders Grotesk';
	font-weight: 300;
	font-style: normal;
	src: url(/assets/fonts/FoundersGroteskWeb-Regular.woff2?#iefix) format("woff2"),url(/assets/fonts/FoundersGroteskWeb-Regular.woff) format("woff"),url(/assets/fonts/FoundersGroteskWeb-Regular.ttf) format("truetype");
}

@font-face {
	font-family: 'Founders Grotesk';
	font-weight: 500;
	font-style: normal;
	src: url(/assets/fonts/FoundersGroteskWeb-Medium.woff2?#iefix) format("woff2"),url(/assets/fonts/FoundersGroteskWeb-Medium.woff) format("woff"),url(/assets/fonts/FoundersGroteskWeb-Medium.ttf) format("truetype");
}


// STYLE COLORS

$cacao: #1A1108;
$driftwood: #A0724D;
$seashell: #F5F5F3;
$royalpalm: #0E3220;

// SKU COLORS

$mango: #FBBA91;
$pineapple: #C7BBEB;
$berry: #EBCECD;
$banana: #FFE480;


// SPACES and SIZES
$gutter: 1rem;
$gutter-large: 6rem;
$pad: .5rem;

$size-m: 1.8rem;


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
	font-family: 'Founders Grotesk', sans-serif;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: .5px;
	background: $seashell;
	color: $cacao;
}

a{
	color: $cacao;
	text-decoration: none;
}


img{
	width: 100%;
}

// .shadow {
// 	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
// 	filter: url('/assets/images/shadow.svg');
// 	// -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
// 	// filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
// }

header{
	padding: $gutter;
	margin-bottom: 0;
	width: 100vw;
	position: absolute;
	z-index: 100;
	background: $seashell;
	.logo{
		display: inline-block;
		svg a{
			fill: $cacao;
		}
	}
}

.logo svg{
	width: 130px;
}

nav{
	display: inline-block;
	@extend %subhead;
	float: right;
	padding-top: 3px;

	ul.menu{

		display: flex;
		list-style-type: none;
	}

	li{
		padding-left: $gutter;
	}
}

.flex{
	display: flex;
	.flex-item{
		flex: 1;
		margin-right: $gutter;
	}
	.flex-item:last-child{
		margin-right: 0;
	}
}

section{
	width: 100vw;
	position: relative;
	min-height: 100vh;
}

section.product{
	min-height: 0
}

.content{
	max-width: 900px;
	margin: auto;
	position: relative;
	z-index: 10;

}

%headline{
	font-family: 'Cooper Light', serif;
}

%subhead{
	font-family: 'Founders Grotesk', sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.sans{
	font-family: "Founders Grotesk";
}


h1,h2{
	@extend %headline;
	font-weight: 100;
	line-height: 1;
	text-transform: uppercase;
	.sans{
		font-weight: 100;
		// display: block;
		font-size: 8rem;
		line-height: .9;
	}
}



h1{
	font-size: 7rem;
}

h2{
	font-size: 4rem;
	.sans{
		font-size: 4.6rem;
	}
	margin-bottom: $gutter;
}

h3{
	@extend %subhead;
	font-weight: 400;
	margin-bottom: $gutter;
}

.centered{
	text-align: center;
	margin: $gutter auto;
}

.summary{
	// @extend %headline;
	letter-spacing: 0px;
	font-size: $size-m;
	line-height: 1.2;
}

p{
	margin-bottom: $gutter;
}

.button{
	background: $royalpalm;
	color: rgba($seashell,0.8);
	padding: .8rem 1rem 1rem;
	border-radius: 5px;
	width: 250px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-size: 1.8rem;
	line-height: 1;
	margin-top: 2rem;
	transition: box-shadow 200ms ease-in-out;

	&:hover {
		-webkit-box-shadow: inset 2px 2px 8px var(--box-shadow-color);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: inset 2px 2px 8px var(--box-shadow-color);  /* Firefox 3.5 - 3.6 */
		box-shadow: inset 2px 2px 8px var(--box-shadow-color);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}
}

// .button:hover{
// 	cursor: pointer;
// 	-webkit-box-shadow:-9px -5px 12px -2px var(--box-shadow-color);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
// 	-moz-box-shadow:-9px -5px 12px -2px var(--box-shadow-color);  /* Firefox 3.5 - 3.6 */
// 	box-shadow:-9px -5px 12px -2px var(--box-shadow-color);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
// }

// .image-placeholder{
// 	width: 100%;
// 	height: 300px;
// 	background: $height-dark;
// 	margin-bottom: $gutter;
// 	border-radius: 10px;
// }


#intro {
	padding-top: 200px;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('/assets/images/backgrounds/candid_all.jpg');
	p,h2{
		color: #411e0d;
		filter: blur(1px);
	}
	h2{
		text-align: left;
	}
	p{
		margin-bottom: 0;
	}
	.content{
		max-width: none;
		padding: $gutter-large;
	}
	.intro-text{
		line-height: 1;
		font-size: 45px;
	}

}

// .product{
// 	background-repeat: no-repeat;
// 	background-blend-mode: multiply;
// 	background-position: right center;
// 	background-size: contain;
// 	background-attachment: fixed;

// 	position: relative;

// 	.content{
// 		h2, p{
// 			width: 50%;
// 		}
// 	}
// }

.render{
	position: relative;
	margin: auto;
	padding: $gutter-large;
	padding-left: 0;
}
.product-img{
	width: 300px;
}

.shadow-img{
	width: 200px;
	mix-blend-mode: multiply;
	position: relative;
	right: -9px;
	top: -28px;
}




.content-text{
	// background-position: 40% -10%;
 //    background-size: 300px;
	// background-repeat: no-repeat;
	// background-attachment: fixed;
	width: 50vw;
	padding: $gutter-large;
	p{
		max-width: 22em;
	}
}



.send{
	display: block;
}
.seal{
	width: 100px;
	margin-top: 3rem;
	.whole-plant{
		width: 100%;
	}
}


.content-image{
	// text-align: center;
	width: 50vw;
	// display: flex;
	// align-items: center;
	background-attachment: fixed;
	background-size: auto 100%;
	background-position: right center;
	background-repeat: no-repeat;
}

.rightalign .content-image{
	background-position: left center;
}

$pineapple-dark: #8061A9;
$mango-dark: #945023;
$banana-dark: #B5722A;
$goldenberry-dark: #806147;


#pineapple {
	background: $pineapple;
	.a{
		fill: $pineapple-dark;
	}

	.content-image, .button{
		background-color: $pineapple-dark;
	}
	.content-image{
		background-image: url('/assets/images/products/prod-pine.jpg')
	}
	--box-shadow-color: #634b83;
}
#mango {
	background-color: $mango;
	--box-shadow-color: #743f1b;
	.a{
		fill: $mango-dark;
	}
	.content-image, .button{
		background-color: $mango-dark;
	}
	.content-image{
		background-image: url('/assets/images/products/prod-mango.jpg')
	}	
}

#banana {
	background-color: $banana;
	--box-shadow-color: #8b5820;
	.a{
		fill: $banana-dark;
	}
	.content-image, .button{
		background-color: $banana-dark;
	}
	.content-image{
		background-image: url('/assets/images/products/prod-banana.jpg')
	}
}


#goldenberry {
	background-color: $berry;
	--box-shadow-color: #664c39;
	.a{
		fill: $goldenberry-dark;
	}
	.content-image, .button{
		background-color: $goldenberry-dark;
	}
	.content-image{
		background-image: url('/assets/images/products/prod-gb.jpg')
	}
}



.scene{
	height: 100%;
	width: 100vw;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	img{
		position: absolute;
	}
}

.multiply{
	mix-blend-mode: multiply;
}
#nibs{
	width: 250px;
	bottom: 100px; 
	right: 100px;
}

#turmeric{
	width: 380px;
	bottom: 0px;
	left: -50px;
}
.scene.fixed{
	position: absolute;
}

#berries{
	width: 280px;
	top: -50px;
	right: -50px;
}
// .noon-img{
// 	position: absolute;
// 	left: 50%;
// 	top: 40%;
// 	width: 300px;
// }

.crop{
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 10px;
}

.slide{
	border-radius: 10px;
	overflow: hidden;
	max-width: 500px;
	margin: auto;
}

.shadow:hover {
  -webkit-box-shadow: inset 2px 2px 8px var(--box-shadow-color);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: inset 2px 2px 8px var(--box-shadow-color);  /* Firefox 3.5 - 3.6 */
  box-shadow: inset 2px 2px 8px var(--box-shadow-color);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}





#about{
	background: $seashell;
	padding: $gutter-large;
	color: $royalpalm;
	
	p{
		max-width: 30rem;
		margin: auto;
	}
	.seal{
		width: 160px;
		margin: 0 auto 2rem;
		.a{
			fill:$driftwood;
		}
	}

	.process{
		margin: 3rem auto 1rem;
		padding: 0 6rem;
	}
	.caption{
		p{
			color: $driftwood;
			width: 16em;
		}
		font-weight: 400;
		font-size: 14px;
	}

}

.next{
	align-items: center;
	display: flex;
}

.svg-arrow{
	width: 70px;
}
.arrow{
	fill:none;
	stroke: $driftwood;
	stroke-miterlimit: 8;
	stroke-width:11px;

}

#sustainability {
	color: $driftwood;
	padding: $gutter-large;

	.center-img{
		width: 300px;
		height: 300px;
		border-radius: 50%;
		
		margin: auto;
		margin-bottom: $gutter;
		overflow: hidden;

		img{
			height: 100%;
			width: auto;
			margin: 0 auto auto -5rem;
		}
	}
	h2{
		color: $royalpalm;
	}

	.flex-item{
		text-align: center;
	}
	// .content-image{
	// 	background-image: url('/assets/images/backgrounds/sustainability.jpg');
	// 	background-position: 30vw center;
	// 	background-color: $berry;
	// 	background-blend-mode: multiply;
	// 	background-size: contain;
	// }
}

// #packaging {
// 	background: $packaging-dark;
// 	color: $seashell
// }

#afternoon{
	// background: $royalpalm;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('/assets/images/backgrounds/candid_all_2.jpg');
	background-position: 10% center;
	

	display: flex;
	align-items: center;


	.circle{
		background: rgba($seashell,0.8);
		width: 500px;
		height: 500px;
		border-radius: 50%;
		filter: blur(10px);

		
	}


}
#afternoon-after{
	background: $mango-dark;
	display: flex;
	align-items: center;
	h2{
		filter: blur(1px);
		text-align: center;
		color: #562c11;
		// position: absolute;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%,-50%);
		// z-index: 20;
	}
	-webkit-box-shadow: inset 5px 5px 60px #8c3c1b;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: inset 5px 5px 60px #8c3c1b;  /* Firefox 3.5 - 3.6 */
	box-shadow: inset 5px 5px 60px #8c3c1b;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}
footer{
	position: relative;
	background: $cacao;
	color: $driftwood;
	padding: 3rem $gutter;
	overflow: auto;
	a{
		color: $driftwood;
		&:hover{
			color: $driftwood;
		}
	}
	svg .a{fill: $driftwood;}

	h2{
		margin-top: 1rem;
		color: $driftwood;
		font-size: 2rem;
		text-align: center;
		.sans{
			font-size: 2.2rem;
		}
	}
	.flex{
		padding-top: $gutter;
		align-item: center;
	}
}
