//FONTS
@font-face {
	font-family: 'Cooper Light';
	font-weight: 300;
	font-style: normal;
	src: url(/assets/fonts/39E198_0_0.woff2?#iefix) format("woff2"),url(/assets/fonts/39E198_0_0.woff) format("woff"),url(/assets/fonts/39E198_0_0.ttf) format("truetype");
}
@font-face {
	font-family: 'Founders Grotesk';
	font-weight: 100;
	font-style: normal;
	src: url(/assets/fonts/FoundersGroteskWeb-Light.woff2?#iefix) format("woff2"),url(/assets/fonts/FoundersGroteskWeb-Light.woff) format("woff"),url(/assets/fonts/FoundersGroteskWeb-Light.ttf) format("truetype");
}

@font-face {
	font-family: 'Founders Grotesk';
	font-weight: 300;
	font-style: normal;
	src: url(/assets/fonts/FoundersGroteskWeb-Regular.woff2?#iefix) format("woff2"),url(/assets/fonts/FoundersGroteskWeb-Regular.woff) format("woff"),url(/assets/fonts/FoundersGroteskWeb-Regular.ttf) format("truetype");
}

@font-face {
	font-family: 'Founders Grotesk';
	font-weight: 500;
	font-style: normal;
	src: url(/assets/fonts/FoundersGroteskWeb-Medium.woff2?#iefix) format("woff2"),url(/assets/fonts/FoundersGroteskWeb-Medium.woff) format("woff"),url(/assets/fonts/FoundersGroteskWeb-Medium.ttf) format("truetype");
}


// STYLE COLORS

$cacao: #1A1108;
$driftwood: #A0724D;
$seashell: #F5F5F3;
$royalpalm: #0E3220;

// SKU COLORS

$mango: #FBBA91;
$pineapple: #C7BBEB;
$berry: #EBCECD;
$banana: #FFE480;

$pineapple-dark: #8061A9;
$mango-dark: #945023;
$banana-dark: #B5722A;
$goldenberry-dark: #806147;


// SPACES and SIZES
$gutter: 1rem;
$gutter-large: 6rem;
$pad: .5rem;

$size-m: 1.8rem;


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body{
	font-family: 'Founders Grotesk', sans-serif;
	font-size: 20px;
	font-weight: 100;
	background: $seashell;
	color: $cacao;
}

a{
	color: $cacao;
	text-decoration: none;
}


img{
	width: 100%;
}

// .shadow {
// 	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
// 	filter: url('/assets/images/shadow.svg');
// 	// -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
// 	// filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
// }

header{
	margin-bottom: 0;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	background: $seashell;
	.logo{
		padding: $gutter;
		display: inline-block;
		svg a{
			fill: $cacao;
		}
	}
}

.logo svg{
	width: 130px;
}

nav{
	background: $seashell;
	display: inline-block;
	@extend %subhead;
	text-transform: uppercase;
	letter-spacing: 1px;
	float: right;
	padding-top: 3px;

	ul.menu{
		padding: $gutter;
		display: flex;
		list-style-type: none;
	}

	li{
		padding-left: $gutter;
	}
}

.flex{
	display: flex;
	.flex-item{
		flex: 1;
		margin-right: $gutter;
	}
	.flex-item:last-child{
		margin-right: 0;
	}
}

section{
	width: 100%;
	position: relative;
	min-height: 100vh;
	z-index: 10;
}

section.product{
	min-height: 0
}

.content{
	max-width: 900px;
	margin: auto;
	position: relative;
	z-index: 10;

}

%headline{
	font-family: 'Cooper Light', serif;
}

%subhead{
	font-family: 'Founders Grotesk', sans-serif;
}

.sans{
	font-family: "Founders Grotesk";
}


h1,h2{
	@extend %headline;
	font-weight: 100;
	line-height: 1;
	text-transform: uppercase;
	.sans{
		font-weight: 100;
		line-height: .9;
	}
}

h1{
	font-size: 7rem;
}

h2{
	font-size: 4rem;
	.sans{
		font-size: 1.18em;
	}
	margin-bottom: $gutter;
}
h3{
	font-family: 'Cooper Light';
	font-weight: 300;
	font-size: 1.5rem;
	margin-bottom: .9rem;
}

h4{
	@extend %subhead;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	margin-bottom: $gutter;
}

.centered{
	text-align: center;
	margin: $gutter auto;
}

.summary{
	// @extend %headline;
	letter-spacing: 0;
	font-size: $size-m;
	line-height: 1.2;
}

p{
	margin-bottom: 1em;
	letter-spacing: .5px;
}

.button{
	background: $royalpalm;
	color: rgba($seashell,0.8);
	padding: .8rem 1rem 1rem;
	border-radius: 5px;
	width: 150px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-size: 1.8rem;
	line-height: 1;
	margin: .8rem 0;
	transition: box-shadow 200ms ease-in-out;

	&:hover {
		-webkit-box-shadow: inset 5px 5px 8px var(--box-shadow-color);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: inset 5px 5px 8px var(--box-shadow-color);  /* Firefox 3.5 - 3.6 */
		box-shadow: inset 5px 5px 8px var(--box-shadow-color);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}
}

// .button:hover{
// 	cursor: pointer;
// 	-webkit-box-shadow:-9px -5px 12px -2px var(--box-shadow-color);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
// 	-moz-box-shadow:-9px -5px 12px -2px var(--box-shadow-color);  /* Firefox 3.5 - 3.6 */
// 	box-shadow:-9px -5px 12px -2px var(--box-shadow-color);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
// }

// .image-placeholder{
// 	width: 100%;
// 	height: 300px;
// 	background: $height-dark;
// 	margin-bottom: $gutter;
// 	border-radius: 10px;
// }


#intro {
	background-color: #fcd8be;
	padding-top: 60vh;
	.intro-bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-attachment: fixed;
		background-size: cover;
		background-image: url('/assets/images/backgrounds/candid_all_2.jpg');
	}

	h2{
		text-align: left;
		font-size: 5vw;
	}
	p{
		margin-bottom: 0;
	}
	.content{
		color: $cacao;
		max-width: none;
		padding-left: 4rem;
	}
	.intro-text{
		line-height: 1;
		font-size: 40px;
		text-indent: 6px;
		letter-spacing: 0;
	}

}

.product:nth-child(2n){
	.flex{
		.content-image{
			order: 1;

		}
		.content-text{
			order: 0;
		}
	}
}
// .product{
// 	background-repeat: no-repeat;
// 	background-blend-mode: multiply;
// 	background-position: right center;
// 	background-size: contain;
// 	background-attachment: fixed;

// 	position: relative;

// 	.content{
// 		h2, p{
// 			width: 50%;
// 		}
// 	}
// }

// .render{
// 	position: relative;
// 	margin: auto;
// 	padding: $gutter-large;
// 	padding-left: 0;
// }
// .product-img{
// 	width: 300px;
// }

// .shadow-img{
// 	width: 200px;
// 	mix-blend-mode: multiply;
// 	position: relative;
// 	right: -9px;
// 	top: -28px;
// }




.content-text{
	// background-position: 40% -10%;
 //    background-size: 300px;
	// background-repeat: no-repeat;
	// background-attachment: fixed;
	width: 50vw;
	padding: $gutter-large;
	p{
		max-width: 22em;
	}
}



.send{
	display: inline-block;
}
.seal{
	width: 100px;
	margin-top: 3rem;
	.whole-plant{
		width: 100%;
	}
}


.content-image{
	// text-align: center;
	width: 50vw;
	// display: flex;
	// align-items: center;
	background-attachment: fixed;
	background-origin: content-box;
	background-size: auto 100%;
	background-position: -10vw center;
	background-repeat: no-repeat;
}

.rightalign .content-image{
	background-position: 40vw center;
}


#pineapple {
	background: $pineapple;
	.a{
		fill: $pineapple-dark;
	}

	.content-image, .button{
		background-color: $pineapple-dark;
	}
	.content-image{
		background-image: url('/assets/images/products/prod-pine-2.jpg');
	}
	--box-shadow-color: #634b83;
	.nutrition{
		color: $pineapple-dark;
	}
}
#mango {
	background-color: $mango;
	--box-shadow-color: #743f1b;
	.a{
		fill: $mango-dark;
	}
	.content-image, .button{
		background-color: $mango-dark;
	}
	.content-image{
		background-image: url('/assets/images/products/prod-mango-2.jpg');
	}
	.nutrition{
		color: $mango-dark;
	}
}

#banana {
	background-color: $banana;
	--box-shadow-color: #8b5820;
	.a{
		fill: $banana-dark;
	}
	.content-image, .button{
		background-color: $banana-dark;
	}
	.content-image{
		background-image: url('/assets/images/products/prod-banana-2.jpg');
	}
	.nutrition{
		color: $banana-dark;
	}
}


#goldenberry {
	background-color: $berry;
	--box-shadow-color: #664c39;
	.a{
		fill: $goldenberry-dark;
	}
	.content-image, .button{
		background-color: $goldenberry-dark;
	}
	.content-image{
		background-image: url('/assets/images/products/prod-gb-2.jpg');
	}
	.nutrition{
		color: $goldenberry-dark;
	}
}



.scene{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	img{
		position: absolute;
	}
}

.multiply{
	mix-blend-mode: multiply;
}
#nibs{
	width: 250px;
	bottom: 100px;
	right: 100px;
}

#turmeric{
	width: 380px;
	bottom: 0px;
	left: -50px;
}
.scene.fixed{
	position: absolute;
}

#berries{
	width: 280px;
	top: -50px;
	right: -50px;
}
// .noon-img{
// 	position: absolute;
// 	left: 50%;
// 	top: 40%;
// 	width: 300px;
// }

.crop{
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 10px;
}

.slide{
	border-radius: 10px;
	overflow: hidden;
	max-width: 500px;
	margin: auto;
}

// .shadow:hover {
//   -webkit-box-shadow: inset 2px 2px 8px var(--box-shadow-color);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
//   -moz-box-shadow: inset 2px 2px 8px var(--box-shadow-color);  /* Firefox 3.5 - 3.6 */
//   box-shadow: inset 2px 2px 8px var(--box-shadow-color);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
// }





#about{
	background: $seashell;
	padding: $gutter-large;
	color: $royalpalm;
	.content{
		max-width: 1200px;
		margin: auto;
	}
	p{
		max-width: 36rem;
		font-family: 'Cooper Light';
		font-size: 1.5rem;
		line-height: 1.4;
		margin: auto;
	}
	.seal{
		width: 160px;
		margin: 0 auto 2rem;
		.a{
			fill:$driftwood;
		}
	}

	.process{
		p{
			font-family: 'Founders Grotesk';
			font-weight: 300;
			font-size: 18px;
			line-height: 1.2;
		}
		margin: 3rem auto 1rem auto;
		.illo{
			height: 130px;
		}
		img{
			width: 110px;
		}
		#pine-illo{
			position: relative;
			top: -10px;
			width: 130px;
		}
	}
	.caption{
		color: $driftwood;
		max-width: 16em;
		font-weight: 400;
		font-size: 15px;
	}

}

.next{
	align-items: center;
	display: flex;
	justify-content: center;
	animation: blink 1s ease-in-out alternate infinite;
}

.svg-arrow{
	width: 70px;
}
.arrow{
	fill:none;
	stroke: $driftwood;
	stroke-miterlimit: 8;
	stroke-width:11px;

}

#sustainability {
	padding: $gutter-large;
	.content{
		max-width: none;
	}
	background: $seashell;
	color: $royalpalm;
	.photo{
		width: 50%;
		height: 100%;
		border-radius: 5px;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
			vertical-align: middle;
		}
	}
	.text{
		flex: 1;
		display: flex;
		align-items: center;
		padding: 0 4rem;
		p{
			line-height: 1.3;
		}
	}
	.flex{
		align-items: center;
	}
	.flex:nth-child(2){
		.text{
			order: 1;
			padding-left: 0;
		}
		.photo{
			order: 2;
		}
	}
	h2{
		color: $royalpalm;
		margin: auto;
		margin-top: 2rem;
		margin-bottom: 7rem;
		text-align: center;
		max-width: 19em;
	}
	h3{
		font-family: 'Founders Grotesk';
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 20px;
	}

	// .content-image{
	// 	background-image: url('/assets/images/backgrounds/sustainability.jpg');
	// 	background-position: 30vw center;
	// 	background-color: $berry;
	// 	background-blend-mode: multiply;
	// 	background-size: contain;
	// }
}
.nutrition{
	h4{
			font-size: 1em;
			font-weight: 500;
		&:hover{
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
.nutrition-table{
	display: none;
	font-size: 15px;
	margin-bottom: 1rem;
	.row{
		display: flex;
		border-bottom: 1px solid;
		padding: 3px 0;
	}

	.label{
		width: 65%;
		font-weight: 500;
	}
	.sub {
		.label{
			padding-left: 1rem;
			font-weight: 100;
		}
	}
	.quant{
		width: 20%;
		text-align: right;
	}
	.percent{
		text-align: right;
		width: 15%;
		&:after{
			content: "%";
		}
	}
	// .note{
	// 	font-size: 12px;
	// }
}

%textshadow{
	text-shadow: $driftwood 3px 3px 6px;
}
#afternoon{
	// background: $royalpalm;
	// z-index: 0;
	.afternoon-bg{
		background-image: url('/assets/images/backgrounds/ClockGif_WebCrop.gif');
		position: static;
		background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		height: 100vh;
		background-repeat: no-repeat;
	}
	// .afternoon-bg{
	// 	background-attachment: fixed;
	// 	background-size: 50%;

	// 	background-position: left top;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100vh;
	// }
	.content{
		width: 100%;
		margin: 0;
		max-width: 0;
		// max-width: none;
		// position: fixed;
		// top: 0;
		// left: 0;
		// right: 0;
		// width: 100vw;
		// margin: 0;
		// top: 53%;
		padding: 2rem;
		background: $cacao;
	}
	h2{
		font-size: 3rem;
		margin: auto;
		text-align: center;
		color: $driftwood;
		// @extend %textshadow;
	}
}
// #afternoon-after{
// 	background: $driftwood;
// 	display: flex;
// 	align-items: center;
// 	video{
// 		width: 100%;
// 	}
// 	h2{
// 		// filter: blur(1px);
// 		color: $cacao;
// 		// position: absolute;
// 		// top: 50%;
// 		// left: 50%;
// 		// transform: translate(-50%,-50%);
// 		// z-index: 20;
// 	}
// 	-webkit-box-shadow: inset 5px 5px 60px #8c3c1b;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
// 	-moz-box-shadow: inset 5px 5px 60px #8c3c1b;  /* Firefox 3.5 - 3.6 */
// 	box-shadow: inset 5px 5px 60px #8c3c1b;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

// }

#privacy{
	margin: 5rem 0 3rem;
	h1 {
		font-size: 2em;
	}
	h2{
		margin-top: 2em;
		font-size: 1em;
		font-weight: 500;
		font-family: 'Founders Grotesk';
	}
	p{
		max-width: 30em;
	}
}
footer{
	position: relative;
	background: $cacao;
	color: $driftwood;
	padding: 2rem $gutter;
	overflow: auto;
	text-align: center;
	p{
		margin: .5rem 0;
	}
	a{
		color: $driftwood;
		&:hover{
			color: $driftwood;
		}
	}
	svg .a{fill: $driftwood;}

	h2{
		color: $driftwood;
		font-size: 2rem;
		text-align: center;
		margin-bottom: 2rem;
	}
	.flex{
		padding-top: $gutter;
		align-item: center;
	}
	.social{
		margin-top: 1rem;
 		a{
		display: inline-block;
		}
	}

	#insta-icon{
		width: 20px;
		margin-right: 15px;
	}
	#facebook{
		width: 20px;
	}
	.ig-fill{
		fill: $driftwood;
	}
	.no-fill{
		fill: none;
	}
}

.links{
	font-size: 16px;
	a:hover{
		text-decoration: underline;
	}
}

///MOBILE STYLES
.mobile-menu{
	position: absolute;
	right: 15px;
	top: 15px;
	display: none;
}
.bar{
	width: 25px;
	height: 3px;
	margin-bottom: 3px;
	background: $cacao;
}

@media (max-width: 1200px){
	h2{
		font-size: 3.5rem;
	}
	.content-text{
		padding: 4rem;
	}
	.next, .break{
		display: none;
	}
	#about{
		padding: 2rem;
	}

	#sustainability .text{
		padding: 2rem;
	}
	.content-image{
		background-position: -16vw center;
	}
	.rightalign .content-image{
		background-position: 30vw center;
	}
}
@media (max-width: 1000px){
	.content-image{
		background-position: -36vw center;
	}
	.rightalign .content-image{
		background-position: 16vw center;
	}
}
@media (max-width: 800px){
	.logo svg{
		width: 90px;
	}
	header{
		height: 45px;
		padding-top: .75rem;
		.logo{
			padding: 0;
			padding-left: 15px;
		}
		// background: rgba($seashell, 0.8);
	}
	header.open{
		height: auto;
		// background: $seashell;
	}
	nav{
		float: none;
		display: block;
	}
	nav ul.menu{
		display: none;
	}

	.mobile-menu{
		display: block;
	}
	ul.menu{
		display: none;
		width: 100%;
		right: 0;
		padding: 20px 0;
		li{
			font-size: 26px;
			margin-bottom: 1rem;
			padding-left: 0;
		}
	}
	h2{
		font-size: 2.8rem;
	}

	#intro {
		padding-top: 100vh;
		.intro-bg{
			background-size: auto 100%;
			background-position: 70% center;
			background-attachment: scroll;
		}

		.intro-text{
			font-size: 30px;
			text-indent: 0;
		}
		.content{
			display: flex;
			align-items: center;
			padding: 0;
			height: 100vh;
			width: 100%;
			bottom: 0;
			background: $cacao;
			color: $driftwood;
			.tagline{
				width: 100%;
			}
			h2{
				font-size: 12vw;
			}
			p, h2{
				text-align: center;
			}
			// text-shadow: $driftwood 3px 3px 6px;
		}

	}

	#about{
		padding: 3rem 1rem;
		padding-bottom: 3rem;
		.seal{
			width: 120px;
		}
		.process{
			display: block;
			.flex-item{
				margin-right: 0;
				margin-bottom: 2rem;
			}
		}
	}
	.product .flex{
		display: block;
	}
	.content-text{
		width: 100%;
		padding: 4rem 2rem;
	}
	.content-image{
		width: 100%;
		height: 80vh;
		background-size: cover;
		background-attachment: scroll;
		background-position: 50% 50%;
	}
	.content-text{
		padding: 4rem 2rem;
	}

	.rightalign .content-image {
		background-position: 50% 50%;
	}
	#sustainability{
		padding: 4rem 2rem;
		.photo{
			height: 300px;
		}
		.text{
			padding-left: 0;
		}
		.flex{
			display: block;
			.flex-item{
				margin: 1rem 0 4rem;
			}
			.photo{
				width: 100%;
				height: auto;
			}
			&:nth-child(2){
				.photo{
					order: 1;
				}
				.text{
					order: 2;
				}
			}
		}
		p{
			max-width: 25em;
		}
	}
	#afternoon{
		min-height: 0;
		.afternoon-bg{
			background-size: cover;
			background-attachment: scroll;
			background-repeat: no-repeat;
			height: 50vh;
		}

		 .content{
			position: static;
			h2{
				font-size: 2rem;
			}
		}
	}
	#privacy{
		padding: 1rem;
	}
}
@media (min-width: 801px){
	ul.menu{
		display: flex !important;
	}
}

@keyframes blink{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 2;
	}
}
