@font-face {
  font-family: 'Cooper Light';
  font-weight: 300;
  font-style: normal;
  src: url(/assets/fonts/39E198_0_0.woff2?#iefix) format("woff2"), url(/assets/fonts/39E198_0_0.woff) format("woff"), url(/assets/fonts/39E198_0_0.ttf) format("truetype"); }
@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 100;
  font-style: normal;
  src: url(/assets/fonts/FoundersGroteskWeb-Light.woff2?#iefix) format("woff2"), url(/assets/fonts/FoundersGroteskWeb-Light.woff) format("woff"), url(/assets/fonts/FoundersGroteskWeb-Light.ttf) format("truetype"); }
@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 300;
  font-style: normal;
  src: url(/assets/fonts/FoundersGroteskWeb-Regular.woff2?#iefix) format("woff2"), url(/assets/fonts/FoundersGroteskWeb-Regular.woff) format("woff"), url(/assets/fonts/FoundersGroteskWeb-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 500;
  font-style: normal;
  src: url(/assets/fonts/FoundersGroteskWeb-Medium.woff2?#iefix) format("woff2"), url(/assets/fonts/FoundersGroteskWeb-Medium.woff) format("woff"), url(/assets/fonts/FoundersGroteskWeb-Medium.ttf) format("truetype"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Founders Grotesk', sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: .5px;
  background: #F5F5F3;
  color: #1A1108; }

a {
  color: #1A1108;
  text-decoration: none; }

img {
  width: 100%; }

.shadow {
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,\a Color='#444')";
  filter: url("/assets/images/shadow.svg"); }

header {
  margin: 1rem;
  margin-bottom: 0;
  padding: 0.5rem 0; }
  header .logo {
    display: inline-block; }
    header .logo svg a {
      fill: #1A1108; }

.logo svg {
  width: 130px; }

nav {
  display: inline-block;
  float: right; }
  nav ul.menu {
    display: flex;
    list-style-type: none; }
  nav li {
    padding-left: 1rem; }

.flex {
  display: flex; }
  .flex .flex-item {
    flex: 1;
    margin-right: 1rem; }
  .flex .flex-item:last-child {
    margin-right: 0; }

section {
  width: 100vw;
  padding: 6rem 0;
  position: relative; }

.content {
  max-width: 900px;
  margin: auto;
  position: relative;
  z-index: 10; }

h1, h2 {
  font-family: 'Cooper Light', serif; }

nav, h3 {
  font-family: 'Founders Grotesk', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px; }

.sans {
  font-family: "Founders Grotesk"; }

h1, h2 {
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase; }
  h1 .sans, h2 .sans {
    font-weight: 100;
    font-size: 8rem;
    line-height: .9; }

h1 {
  font-size: 7rem; }

h2 {
  font-size: 4rem;
  margin-bottom: 1rem; }
  h2 .sans {
    font-size: 4.6rem; }

h3 {
  font-weight: 400;
  margin-bottom: 1rem; }

.centered {
  text-align: center;
  margin: 1rem auto; }

.summary {
  letter-spacing: 0px;
  font-size: 1.8rem;
  max-width: 25em;
  margin-bottom: 6rem; }

p {
  margin-bottom: 1rem; }

.button {
  background: #0E3220;
  color: #F5F5F3;
  padding: 0.5rem;
  border-radius: 10px;
  width: 250px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.8rem;
  line-height: 1;
  margin-top: 3rem; }

.button:hover {
  cursor: pointer; }

#intro {
  padding-top: 200px; }
  #intro h2, #intro p {
    text-align: left; }
  #intro .button {
    margin-left: 0; }
  #intro .noon-img {
    top: 30%; }

.product-img {
  width: 300px; }

.content-image {
  flex: 1; }

.content-text {
  flex: 2; }

.content.flex > div {
  margin-right: 6rem; }

.scene {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; }
  .scene img {
    position: absolute; }

.multiply {
  mix-blend-mode: multiply; }

#nibs {
  width: 250px;
  bottom: 100px;
  right: 100px; }

#turmeric {
  width: 380px;
  bottom: 0px;
  left: -50px; }

.scene.fixed {
  position: absolute; }

#berries {
  width: 280px;
  top: -50px;
  right: -50px; }

.crop {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px; }

.slide {
  border-radius: 10px;
  overflow: hidden;
  max-width: 500px;
  margin: auto; }

#goldenberry {
  background-color: #EBCECD; }

#banana {
  background-color: #FFE480; }

#mango {
  background-color: #FBBA91; }

#pineapple {
  background: #C7BBEB; }

#about p {
  max-width: 30rem;
  margin: auto; }

#sustainability {
  color: #A0724D; }

#afternoon {
  background: #F5F5F3; }

.carousel {
  margin: 6rem 0; }

footer {
  position: relative;
  background: #1A1108;
  color: #F5F5F3;
  padding: 3rem 1rem;
  overflow: auto; }
  footer a {
    color: #F5F5F3; }
    footer a:hover {
      color: #A0724D; }
  footer svg .a {
    fill: #F5F5F3; }
  footer h2 {
    margin-top: 1rem;
    color: #A0724D;
    font-size: 2rem;
    text-align: center; }
    footer h2 .sans {
      font-size: 2.2rem; }
  footer .flex {
    padding-top: 1rem;
    align-item: center; }

.seal {
  width: 160px;
  margin: auto;
  display: block;
  padding-bottom: 1rem; }

/*# sourceMappingURL=style.css.map */
